
<ul class="compositions">
    {% for composition in compositions %}
    <li class = "composition">
        <div class="profile-thumbnail">
            <a href="{{ url_for('main.user', username=composition.artist.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ composition.artist.unicornify(size=64) }}">
            </a>
        </div>
        <div class="composition-content">
            <div class="composition-date">{{ moment(composition.timestamp).fromNow() }}</div>
            <div class="composition-artist">
                <a href="{{ url_for('main.user', username=composition.artist.username) }}">
                    {{ composition.artist.username }}
                </a>
            </div>
            <div class="composition-release-type">
                {% if composition.release_type == 1 %}
                    Single
                {% elif composition.release_type == 2 %}
                    EP
                {% elif composition.release_type == 3 %}
                    Album
                {% endif %}
            </div>
            <div class="composition-title">
                <a href='{{ url_for("main.composition", slug=composition.slug) }}'>{{ composition.title }}</a>
            </div>
            <div class="composition-description">
                {% if composition.description_html %}
                {{ composition.description_html | safe }}
                {% else %}
                {{ composition.description }}
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}


</ul>