{% extends 'base.html' %}
{{ super() }}
{% block content %}
<h2>{{user.username}} {{title_text}}</h2>
<table class="table table-hover table.followers">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Since</th>
      </tr>
    </thead>
    <tbody>
        {% for f in user.following.all() %}
        <tr>
            <td class="row">
                <img class="img-rounded profile-thumbnail" src="{{ f.following.unicornify(size=30) }}">
            <a href="{{ url_for('main.user', username=f.following.username) }}">{{f.following.username}}</a></td>
            <td>{{ f.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}