{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block navbar %}
    {{super()}}
{% endblock navbar%}


{% block content %}
{{super()}}
<h1>Welcome to Ragtime,
    {% if current_user.is_authenticated %}
        {{ current_user.username }}
    {%- else %}
        Anonymous
    {%- endif %}!
</h1>
<div class="page-header">
    {% if not known %}
    <p>Mucho gusto! (Nice to meet you!)</p>
    {% else %}
    <p>Enjoy your stay.</p>
    {% endif %}
</div>
    {{ wtf.quick_form(form) }}
    {{ compositions|length }}

<ul class="compositions">Compositions {# All compositions #}
    <li class="composition">{# Single composition #}
        <div class="composition-thumbnail">
            <a href="{{url_for('main.user', username=user.username)}}"><img class="img-rounded profile-thumbnail" src="{{ user.unicornify() }}"></a>
        </div>
        <div class="composition-content">
            <div class="composition-artist">
                <a href="{{url_for('main.user', username=user.username)}}">{{user.username}}</a>
            </div>
            <div class="composition-date">
                <p>Date: {{ compositions.timestamp }}</p>
            </div>
            <div class="composition-release-type">
                {{ compositions.release_type }}
            </div>
            <div class="composition-artist">{{compositions.title}}</div>
            <div>
                {{compositions.description}}
            </div>
        </div>
    </li>

</ul>
{% endblock content %}
