{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block navbar %}
    {{super()}}
{% endblock navbar%}


{% block content %}
{{super()}}
<h1>Welcome to Ragtime,
    {% if current_user.is_authenticated %}
        {{ current_user.username }}
    {%- else %}
        Anonymous
    {%- endif %}!
</h1>
<div class="page-header">
    {% if not known %}
    <p>Mucho gusto! (Nice to meet you!)</p>
    {% else %}
    <p>Enjoy your stay.</p>
    {% endif %}
</div>
    {{ wtf.quick_form(form) }}
    {{ compositions|length }}

    <ul class="compositions"> {# All compositions #}
        <li class="composition"> {# Single composition #}
            <div class="composition-thumbnail"> {# Avatar #} </div>
            <div class="composition-content"> {# Composition content #}
                <div class="composition-date">{# date #}</div>
                <div class="composition-artist">{# title #}</div>
                {# ... #}
            </div>
        </li>

</ul>
{% endblock content %}
