.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 150px;
}

div.form-header {
    min-height: 260px;
    margin-left: 150px;
    margin-right: 150px;
}

div.paragraph-div {
    min-height: 260px;
    margin: 16px 16px 16px 150px;
}

div.notification {
    margin: 16px 16px 16px 150px;
}

div.pagination {
    min-height: 260px;
    margin-left: 80px;
    margin-right: 80px;
    display:inherit
}

ul.compositions {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.compositions {
    margin: 0px;
    border-top: none;
}
ul.compositions li.composition {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.compositions li.composition:hover {
    background-color: #f0f0f0;
}
div.composition-date {
    float: right;
}
div.composition-artist {
    font-weight: normal;
    padding: 2px
}
div.composition-release-type {
    font-style: italic;
    padding: 2px
}
div.composition-title {
    font-weight: bold;
    padding: 2px
}
div.composition-description {
    padding: 3px
}

div.index-comps {
    min-height: 260px;
    margin-left: 80px;
    margin-right: 80px
}

div.composition-thumbnail {
    position: absolute;
}

div.composition-content {
    margin-left: 72px;
    min-height: 72px;
}

div.composition-tabs {
    margin-top: 16px;
}

td.row {
    position: relative;
}

div.follow-table {
    margin-left: 72px;
    margin-right: 72px;
    min-height: 72px;
}