{% extends 'base.html' %}
{{ super() }}
{% block content %}
<h2>{{user.username}} {{title_text}}</h2>
<table class="table table-light">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">User</th>
        <th scope="col">Since</th>
      </tr>
    </thead>
    <tbody>
        {% for f in user.following.all() %}
        {% if f.following.id == user.id %}
        {% else %}
        <tr height=75px>
            <td>
            <img class="img-rounded profile-thumbnail" src="{{ f.following.unicornify(size=35) }}"></td>
            <td>
            <a href="{{ url_for('main.user', username=f.following.username) }}">{{f.following.username}}</a></td>
            <td>{{ moment(f.timestamp).fromNow() }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock content %}