{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}

{% block navbar %}
    {{super()}}
{% endblock navbar%}



{% block content %}
{{super()}}
<div class="index-comps">
<h1>Welcome to Ragtime,
    {% if current_user.is_authenticated %}
        {{ current_user.username }}
    {%- else %}
        Anonymous
    {%- endif %}!
</h1>
    <div class="page-header">
    {% if not known %}
    <p>Mucho gusto! (Nice to meet you!)</p>
    {% else %}
    <p>Enjoy your stay.</p>
    {% endif %}
    </div>

    {{ wtf.quick_form(form) }}


    <div class="composition-tabs">
    <ul class="nav nav-tabs">
        <li {% if not show_followed %} class="active"{% endif %}>
            <a href="{{ url_for('.show_all') }}">All</a>
        </li>
        {% if current_user.is_authenticated %}
        <li {% if show_followed %} class="active"{% endif %}>
            <a href="{{ url_for('.show_followed') }}">Followers</a>
        </li>
        {% endif %}
    </ul>
    {% include '_compositions.html' %}
    </div>
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>


{% endif %}
{% endblock content %}
